.col-md-12{
	width: 100%;
	float: left;
	background-color: inherit;
}
.col-md-9{
	width: 75%;
	float: left;
	background-color: inherit;
}
.col-md-8{
	width: 66.66%;
	float: left;
	background-color: inherit;
}
.col-md-6{
	width: 50%;
	float: left;
	background-color: inherit;
}
.col-md-4{
	width: 33.333%;
	float: left;
	background-color: inherit;
}
.col-md-3{
	width: 25%;
	float: left;
	background-color: inherit;
}
.col-md-2{
	width: 16.66%;
	float: left;
	background-color: inherit;
}
.col-md-1{
	width: 8.33%;
	float: left;
	background-color: inherit;
}
.main_menu{
	color: black;
	
}
.btn{
	min-height: 50px;
	display: block;
	background-color: white;
	color: inherit;
	width: 100%;
	text-align: center;
	border: 2px solid rgba(60,63,68, .1);
	-webkit-transition-duration:0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}
.btn:hover{
	background-color: #cc5556;
	color: white;
}

.pro-pic{
	max-width: 100%;
	float:left;
	margin-top: 5px;
}
.img-circle{
	border-radius: 10%;
}
.h1-heading{
	text-align: left;
	padding-left: 20px;
	margin-bottom: 1px; 
}
.h2-heading{
	text-align: left;
	padding-left: 20px;
	color:#77787a;
	margin-top: 1px; 
}
.h3-heading{
	text-align: center;
	padding-left: 20px;
	color:#77787a;
}
.p-describe{
	text-align: left;
	padding-left: 20px;
	color:#77787a;
}
table{
	text-align: center;
	padding-left: 20px;
	border-collapse: collapse;
	border-bottom: 2px solid lightgray; /* separate row data with thicker line */
    margin-top: 5px;
}
tr{
	border-bottom: 2px solid lightgray; /* separate row data with thicker line */
    margin-top: 5px;
}
.table-class{
	padding-left: 20px;
	text-align: center;
}
progress[value]{
	/*Reset the default apprearance */
	-webkit-appearance:none;
	appearance:none;

	width: 90%;
	height: 20px;
}
progress[value]::-webkit-progress-bar {
	background-color: #eee;
	border-radius: 2px;
	box-shadow: 0 2px 5px rgba(0,0,0,0.25) inset;
}
progress[value]::-webkit-progress-value {
	background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0,0,0,0.1) 33%, rgba(0,0,0,0.1) 66%, transparent 66%),
	-webkit-linear-gradient(top,rgba(255,255,255,0.25),rgba(0,0,0,0.25)),
	-webkit-linear-gradient(left,#f44,#cc5556);
	border-radius: 2px;
	background-size: 35px 20px,100% 100%,100% 100%;
}
